.rowPadding {
    padding : 0 2.5vw 0 2.5vw;
    float : right;
}

.friendRequest{
    background-color: transparent;
    border: none;
}
/* ============================================================================== */

.firstElement{
    margin-right:0;
    height: 80vh;
    /* box-shadow: 1px 1px 2px 1px grey; */
    border-right-style: inset;
}

.divider{
    border-bottom-style: groove;
    width:80%;        
}

.itemDivider{
    border-bottom-style: groove;
    width:50%; 
}



.openList{
    height: 30vh;
    width : 100%;
    padding-bottom: 15px;
    overflow: auto;
    
}


.doneList{
    height: 28vh;
    width : 100%;
    padding-bottom: 15px;
    overflow: auto;
    
}

.todoUsers{    
    height: 30vh;
    width : 98%;
    padding-bottom: 15px;
    overflow: auto;
}


.requestBtn{
    height : 1.5rem;
    padding : 5px;
    margin-top : 0.5rem;
}

.openItem{
    height: 200px;
    width : 100%;
    padding-bottom: 15px;
    overflow: auto;
    
}

::-webkit-scrollbar{
    width: 2px;
}

::-webkit-scrollbar-track{
    background-color: grey;
}


 .button{
    background-color: rgb(194, 194, 194);
    /* box-shadow: 0 1px 1px 1px grey; */
    padding: 2px;
    margin: 4px 0 4px 0;
    border-radius: 10px; 
}

.listtitle{
    margin : 0 0 1px 10px;
    padding: 10px; 
    height: 1.5rem; 
    overflow: auto;
    scrollbar-width: 2px;
    /* overflow: hidden;   */
}

.itemTitle{
    margin : 0 0 1px 10px;
    padding: 10px; 
    height: auto;
    overflow: auto;
    scrollbar-width: 2px;
    width : 90%;
    /* overflow: hidden;   */
}
.item{
    margin-top: 5px;
    padding : 5px;
    border-radius: 2vmax;
    box-shadow: 1px 1px 2px 1px  rgb(51, 44, 44);
    height: auto;
    background-color: white;
}

.doneItem{
    margin-top: 5px;
    padding : 5px;
    border-radius: 2vmax;
    box-shadow: 1px 1px 2px 1px  rgb(51, 44, 44);
    height: auto;
}
.subItem{
    margin-top: 5px;
    padding : 5px;
    border-radius: 2vmax;
    box-shadow: 1px 1px 2px 1px grey;
    height: auto;
    display : flex;
    flex-wrap: wrap;
}



.listdescription{
    margin : 0 0 1px 0;
    padding: 0;
    height: 1.5rem;  
}

.list{
    margin-top: 5px;
    padding : 5px;
    border-radius: 2vmax;
    box-shadow: 1px 1px 1.5px 1px rgb(248, 7, 7);
    height: 2.5rem;
    background-color: white;
}

.oldList{
    margin-top: 5px;
    padding : 5px;
    border-radius: 2vmax;
    box-shadow: 1px 1px 1.5px 1px rgb(255, 53, 53);
    height: 2.5rem;
    background-color: white;
}


.listActions{
    margin : 0;
    padding-right: 10px;
}

.firstElement .createListButton{
    margin-top: 8px;
    margin-bottom: 4px;
    background-color: rgb(194, 194, 194);
    border-radius: 14px;
    
    box-shadow: 1px 1px 3px 3px rgb(240, 235, 235);
}

.secondElement{
    margin-right:0;
    height: 80vh;
    /* box-shadow: 1px 1px 2px 1px grey; */
    border-right-style: ridge;
}

.secondElement .createItemButton{    
    margin-top: 8px;
    margin-bottom: 4px;
    background-color:rgb(194, 194, 194);
    border-radius: 14px;    
    box-shadow: 1px 1px 3px 3px rgb(240, 235, 235);
}

.thirdElement{
    margin-right:0;
    height: 80vh;
    /* box-shadow: 1px 1px 2px 1px grey; */
}


.autoWidth{
    width:auto;
}

.autoHeight{
    height: auto;
}

.buttonHeight{
    height : 2rem;
}

@media (max-width : 645px){
    .content{
        display: none;
    }
}