.rowPadding {
    padding : 0 2.5vw 0 2.5vw;
    float : right;
}

.friendRequest{
    background-color: transparent;
    border: none;
}
/* ============================================================================== */

.firstElement{
    margin-right:0;
    height: 80vh;
    /* box-shadow: 1px 1px 2px 1px grey; */
    border-right-style: inset;
}

.divider{
    border-bottom-style: groove;
    
}



.openList{
    height: 200px;
    width : 30vw;
     
    padding-bottom: 15px;
    
/*    margin: 10px; */
    overflow: scroll;
}

 .button{
    background-color: transparent;
    /* box-shadow: 0 1px 1px 1px grey; */
    padding: 2px;
    margin: 4px 0 4px 0;
    border-radius: 10px; 
}

.listtitle{
    margin : 0 0 1px 10px;
    padding: 10px; 
    height: 1.5rem; 
    overflow: scroll;  
}


.listdescription{
    margin : 0 0 1px 0;
    padding: 0;
    height: 1.5rem;  
}

.list{
    margin-top: 5px;
    padding : 5px;
    border-radius: 2vmax;
    box-shadow: 1px 1px 2px 1px grey;
    height: 2.5rem;
}
.listActions{
    margin : 0;
    padding-right: 10px;
}

.firstElement .createListButton{
    margin-top: 8px;
    margin-bottom: 4px;
    background-color: white;
    border-radius: 14px;
    
    box-shadow: 1px 1px 3px 3px rgb(240, 235, 235);
}

.secondElement{
    margin-right:0;
    height: 80vh;
    /* box-shadow: 1px 1px 2px 1px grey; */
    border-right-style: ridge;
}


.thirdElement{
    margin-right:0;
    height: 80vh;
    /* box-shadow: 1px 1px 2px 1px grey; */
}


.autoWidth{
    width:auto;
}

.autoHeight{
    height: auto;
}

.buttonHeight{
    height : 2rem;
}

@media (max-width : 645px){
    .content{
        display: none;
    }
}