<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                <a class="navbar-brand" href="/">Todo Manager App</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" (click)="goToLogin()">login</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <div class = "row" style = "padding-left : 25vw;">
        <div class = "col-md-6">
            <form>    
                <div class= "form-group">                        
                    <label>email id</label>
                    <input type = "text" name ="email" class ="form-control inputForm" [(ngModel)]="email"
                    #emailid = "ngModel" placeholder="email" required autofocus>
                </div>
                <div [hidden]= "emailid.valid || emailid.pristine" class = "alert alert-danger">please enter your email Id</div>
                <div class= "form-group">
                    <label>mobile number</label>
                    <input type = "text" name ="mobileNumber" class ="form-control inputForm" [(ngModel)]="mobileNumber"
                    #mobilenumber = "ngModel" placeholder="mobile number" required autofocus>
                    <a class = "text-muted" >please enter your registered mobile number</a>
                </div>
                
                <div [hidden]= "mobilenumber.valid || mobilenumber.pristine" class = "alert alert-danger">please enter registered mobile number</div>
            </form>
            <div>
                <button style="margin-right: 5px;" class="btn btn-primary" type="button" (click)="checkMobileNumber()">submit</button>
            
                <button style="margin-left: 5px;" class="btn btn-primary" type="button" (click)="goToLogin()">login &nbsp;&nbsp;<a style= "font-size: 0.6rem;">rembered password?</a></button>
                
            </div>
        </div>
    </div>
</div>